.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.10.2/fileHashes/resourceHashesCache.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/executionHistory/executionHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
